body{
    margin: 0;
    padding: 0;
    background-color: whitesmoke;   
}
html{
    scroll-behavior: smooth;
    font-family: cursive;
}
.top-section{
    background-color: #08B289 ;
    color: aliceblue;
    height: 80vh;
}  
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.me-tag{
    display: inline-block;
    margin: 20px;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    color: aliceblue;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.3rem;
}
.close-button-main{
    display: none;
}
.lokesh-names{
    color: rgba(240, 215, 72, 0.988);
    font-size: 2.5rem;
}
#link-tags{
    font-size: 1.3rem;
}
.contact-resize{
    font-size: 1.3rem;
    padding-left: 30px;
}
.open-nav-page{
    display: none;
}
a{
    text-decoration: none;
    margin-right: 10px;
    color: aliceblue;
}
.intro-name{
    text-align: center;
}
.hey-tag{
    color: rgba(240, 215, 72, 0.988);
    font-size: 4rem;
    padding-top: 100px;
}
.lokesh-name-tag{
    font-size: 6rem;
    padding-bottom: 10px;
}
.full-stack{
    font-size: 1.5rem;
}
.about-me{
    font-size:3.5rem;
    padding-top: 80px;
    padding-bottom:0;
    text-align: center;
    color: #08B289;
}
.about-me-essay{
    padding-top: 30px;
    height: 30vh;
    text-align: center;
    text-wrap:balance;
    color: #5F7161;
    font-size: 1.5rem;
}
.button-me{
    display: flex;
    justify-content: center;
}
.button-new{
    border-radius: 15px;
    background-color: rgba(240, 215, 72, 0.988);
    color: black;
    padding: 10px 20px;
    font-size: 1.3rem;
}
.view-tag{
    font-size: 1.3rem;
}
.contact-space{
    height: 30vh;
    text-align: center;
    color: #08B289;
    font-size: 1.5rem;
}
.contact-part{
    text-decoration: underline;
}
.contact-list-part{
    padding-top: 20px;
    list-style: none;
    text-align: center;
    padding-bottom: 20px;
    margin: 0 40px;
}
.email-tag{
    color: #5F7161;
}
.email-text{
    padding-top: 20px;
    padding-bottom: 20px;
}
.project-part{
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: #5F7161;
    transition: 0.5s ease;
    color: aliceblue;
    overflow-y: scroll;
}
.project-upperpart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.head-tag{
    font-size: 3rem;
}
.close-button{
    border-radius: 10px;
    background-color: rgba(240, 215, 72, 0.988);
    color: black;
    font-size: 2rem;
    padding: 5px 15px;
    border: none;
}
.close-button2{
    border-radius: 10px;
    background-color: rgba(240, 215, 72, 0.988);
    color: black;
    font-size: 2rem;
    padding: 5px 15px;
    border: none;
}
.list-part{
    padding: 0 40px;
}
.list-head{
    font-size: 1.5rem;
}
.git-hub{
    text-align: center;
    font-size: 1.5rem;
    padding-top: 10px;
}
.git-hub-link-tag{
    padding-bottom: 10px;
    text-align: center;
    color: rgba(240, 215, 72, 0.988);
    font-size: 1.5rem;
}
.github-link{
    color: rgba(240, 215, 72, 0.988);
}
.me-part{
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: #5F7161;
    transition: 0.5s ease;
    color: aliceblue;
    overflow-y: scroll;
}
.resume-page{
    padding: 20px;
}
.personal-details{
    list-style: none;
    font-size: 1.5rem;
}
.resume-part2{
    padding-top: 40px;
}
.hor-rule{
    color: aliceblue;
}
.contact-part{
    color:aliceblue;
    font-size: 3.5rem;
}
.email-text{
    color: aliceblue;
}
.email-tag{
    color: antiquewhite;
}
.contact-space{
    margin-top: 30px;
    padding-top: 20px;
    background-color: #08B289;
    height: 80vh;
}
.comp-course{
    font-size: 1.5rem;
    padding-top: 30px;
    padding-bottom: 20px;
}
.lang-list{
    padding: 0;
    list-style: none;
}
.l1{
    font-size: 1.3rem;
    padding-bottom: 10px;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: aliceblue;
    margin: 6px 0;
    transition: 0.4s;
}
.close-button-main {
    cursor: pointer;
}
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
.change .bar2 {opacity: 0;}
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

@media (max-width: 768px) {
    .hey-tag {
        font-size: 2rem;
        padding-top: 20px;
    }
    .lokesh-name-tag {
        font-size: 3rem;
        padding-bottom: 5px;
    }
    .full-stack {
        font-size: 1rem;
    }
    .about-me {
        font-size: 2rem;
        padding-top: 40px;
        height: 10vh;
    }
    .about-me-essay {
        padding-top: 20px;
        height: auto;
        font-size: 1rem;
    }
    .contact-space {
        margin-top: 30px;
        font-size: 1rem;
        padding: 10px;
        padding-top: 20px;
        background-color: #08B289;
        height: 60vh;
    }
    .contact-list-part {
        margin: 0 20px;
    }
    .list-part {
        padding: 0 20px;
    }
    .head-tag {
        font-size: 2rem;
    }
    .list-head {
        font-size: 1rem;
    }
    .git-hub, .git-hub-link-tag {
        font-size: 1rem;
    }
    .personal-details, .comp-course {
        font-size: 1rem;
    }
    .l1 {
        font-size: 1rem;
    }
    .header {
        flex-direction: column;
        align-items: flex-start;
    }
    #link-tags {
        display: none;
    }
    .open-nav-page {
        display: block;
    }
    .close-button-main {
        display: block;
    }
    .contact-part{
        color:whitesmoke;
        font-size: 1.5rem;
    }
    .email-text{
        color: antiquewhite;
    }
    .email-tag{
        color: aliceblue;
    }
    .button-me{
        padding-top: 40px;
    }
}
